*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* user-select: none; */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: system-ui, sans-serif;
}
